name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  pdk_build:
    name: Fetch or Build PDK
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        pdk: [sky130A]
    outputs:
      opdks_rev: ${{ steps.set-rev.outputs.opdks_rev }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Get Open PDKs Revision
        id: set-rev
        run: |
          echo "opdks_rev=$(python3 ./dependencies/tool.py open_pdks -f commit)" >> $GITHUB_OUTPUT

      - name: Cache sky130 PDK
        uses: actions/cache@v4
        with:
          path: ${{ env.PDK_ROOT }}
          key: cache-${{ matrix.pdk }}-pdk-${{ steps.set-rev.outputs.opdks_rev }}
          enableCrossOsArchive: true

      - name: Build (or Get) PDK
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          PDK=${{ matrix.pdk }}

          python3 -m pip install --upgrade --no-cache-dir 'ciel>=2.0.1,<3'
          ciel enable\
            --pdk-family $PDK\
            --github-token ${{ secrets.GITHUB_TOKEN }}\
            ${{ steps.set-rev.outputs.opdks_rev }}

  prepare_test_matrices:
    name: Prepare Test Matrices
    runs-on: ubuntu-22.04
    outputs:
      design_matrix: ${{ steps.set-matrix.outputs.design_matrix }}
      issue_regression_matrix: ${{ steps.set-matrix.outputs.issue_regression_matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Python Dependencies
        run: |
          python3 -m pip install click pyyaml
      - name: Determine If Running Extended Test Set
        run: |
          export EVENT_NAME=${{ github.event_name }};
          python3 ./.github/scripts/determine_test_set.py
      - name: Set Matrix
        id: set-matrix
        run: |
          if [[ "$USE_ETS" = "1" ]]; then
            echo "design_matrix=$(python3 ./.github/test_sets/get_test_matrix.py --scl sky130A/sky130_fd_sc_hd --scl gf180mcuD/gf180mcu_fd_sc_mcu7t5v0 fastest_test_set extended_test_set)" >> $GITHUB_OUTPUT
          else
            echo "design_matrix=$(python3 ./.github/test_sets/get_test_matrix.py --scl sky130A/sky130_fd_sc_hd --scl gf180mcuD/gf180mcu_fd_sc_mcu7t5v0 fastest_test_set)" >> $GITHUB_OUTPUT
          fi
          echo "issue_regression_matrix=$(python3 -m tests get_matrix)" >> $GITHUB_OUTPUT

  issue_regression_test:
    name: Regression Test (Test ${{ matrix.test }})
    needs: [pdk_build, prepare_test_matrices]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.prepare_test_matrices.outputs.issue_regression_matrix) }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Cache PDK
        id: cache-pdk
        uses: actions/cache@v4
        with:
          path: ${{ env.PDK_ROOT }}
          key: cache-${{ matrix.design.pdk }}-pdk-${{ needs.pdk_build.outputs.opdks_rev }}
          enableCrossOsArchive: true

      - name: Enable PDKs
        if: steps.cache-pdk.outputs.cache-hit != 'true'
        run: |
          make pdk

      - name: Get Pyyaml
        run: python3 -m pip install pyyaml

      - name: Run Issue Regression Test
        run: cd ${GITHUB_WORKSPACE}/ &&  make run_issue_regression ISSUE_REGRESSION_DESIGN=${{ matrix.test }}

      - name: Upload Logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test_${{ matrix.test }}_logs
          path: ./test_logs

  test:
    name: Test Design ${{ matrix.design.name }} (${{ matrix.design.pdk }}/${{matrix.design.scl}})
    needs: [pdk_build, prepare_test_matrices]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.prepare_test_matrices.outputs.design_matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Cache PDK
        id: cache-pdk
        uses: actions/cache@v4
        with:
          path: ${{ env.PDK_ROOT }}
          key: cache-${{ matrix.design.pdk }}-pdk-${{ needs.pdk_build.outputs.opdks_rev }}
          enableCrossOsArchive: true

      - name: Enable PDKs
        if: steps.cache-pdk.outputs.cache-hit != 'true'
        run: |
          PDK=${{ matrix.design.pdk }} make pdk

      - name: Set PDK Variant
        run: |
          echo "PDK=${{ matrix.design.pdk }}" >> $GITHUB_ENV

      - name: Set SCL
        run: |
          echo "STD_CELL_LIBRARY=${{ matrix.design.scl }}" >> $GITHUB_ENV

      - name: Get Pyyaml
        run: python3 -m pip install pyyaml

      - name: Run Test
        run: |
          python3 ${GITHUB_WORKSPACE}/.github/scripts/run_tests.py ${{ matrix.design.name }}

      - name: Escape Design Name
        run: |
          design_name=${{ matrix.design.name }}
          escaped_design_name=${design_name//\//_}
          echo "ESCAPED_DESIGN_NAME=$escaped_design_name" >> $GITHUB_ENV

      - name: Upload Run Tarball
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ESCAPED_DESIGN_NAME }}-${{ matrix.design.pdk }}
          path: ./reproducible.tar.gz

  cleanup_and_deploy:
    name: Cleanup (and Possibly Deployment)
    needs:
      [test, issue_regression_test]
    if: always()
    runs-on: ubuntu-22.04
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up environment variables
        uses: ./.github/actions/set_env_variables

      - name: Write Hash
        run: |
          echo "GIT_COMMIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

      # 这里可以保留其它你需要的自定义清理或部署相关步骤
